:root{
    --EBRichBlack: #0D1821;
    --EBGreen: #6EEB83;
    --EBSlateGray: #878E99;
    --EBLemon: #E4FF1A;
    --EBWhite: #FFFCFF;
}

@font-face {
    font-family: "Maven Pro";
    src: url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
}

*{
    font-family: "Roboto Condensed", Arial, sans-serif;
}

h2{
    margin-top: 15px;
    font-family: "Maven Pro", Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

h3{
    padding: 5px;
    font-family: "Maven Pro", Arial, sans-serif;
    font-size: 24px;
    background-color: var(--EBLemon);
    border-radius: 5px;
}

.navbar{
    background-color: var(--EBGreen) ;
    border-radius: 0px 0px 25px 25px;
    background: linear-gradient(var(--EBGreen), var(--EBLemon));
}

table{
    border: solid var(--EBRichBlack) 2px;
}

.pagination{
    margin: 10px;
}

.page-link {
    color: black;
    border: solid black 1px;
    border-radius: 5px;
}

.imgBorne{
    margin: 10px;
    width: 200px;
    height: 200px;
}

#filterBar{
    width: 100%;
}

.filterComponent{
    margin-right: 5px;
}

.btn-process{
    padding: 5px;
    margin: 5px;
}

footer{
    background-color: var(--EBRichBlack);
    height: 100px;
}

#footerText{
    color: var(--EBWhite);
}

@media all and (min-width:320px) {
    #borneLocation{
        order:1;
    }
    #toProcessBooking, #processedBooking{
        order:2
    }
    .tableAnchors{
        order: -1;
    }
    .navPagination{
        width: 100%;
    }
}