:root{
    --EBRichBlack: #0D1821;
    --EBGreen: #6EEB83;
    --EBSlateGray: #878E99;
    --EBLemon: #E4FF1A;
    --EBWhite: #FFFCFF;
}

nav{
    background-color: lightgreen ;
}

table{
    border: solid var(--EBRichBlack) 2px;
}

.borneTitle{
    width: 100%;
    align-items: center;
}

.borneImg{
    width: 250px;
    height: 250px;
}

footer{
    background-color: var(--EBRichBlack);
    height: 100px;
}

#footerText{
    color: var(--EBWhite);
}

@media all and (max-width:700px) {
    #borneLocation{
        order:-1;
    }
}